controller:
    search_for: "macro"
    lstm_size: 64
    num_layers: 1
    entropy_weight: 0.0001
    num_aggregate: 20
    skip_target: 0.4
    skip_weight: 0.8
    baseline_decay: 0.99
    search_whole_channels: True
    tanh_constant: 1.5
    lr: 0.001

child:
    num_layers: 12
    out_filters: 36
    grad_bound: 5.0
    l2_reg: 0.00025
    num_branches: 6
    keep_prob: 0.9
    lr_max: 0.05
    lr_min: 0.0005
    T_max: 10

training:
    data_path: "./data/CIFAR"
    output_filename: "ENAS"
    batchsize: 128
    num_epochs: 750
    eval_freq: 1
    seed: 0
    num_processes: 4